.togglesFormStyle{
border: solid;
margin: 5px;
border-color: gray;
border-width: thin;
padding: 14px 10px;
}
.searchIcon{
    margin-right: 14px;
}
.searchBtn{
    text-align: center;
    background-color: black;
    margin-top: 10px;
    color: white;
    width: 100%;
}
@media only screen and (min-width:768px){
    .togglesFormStyle{
    width: 152%;
    margin: 53px;
    }
}