.candidateStyle{
    margin: 50px;
}
.candidateName{
    text-align: -webkit-center;
    padding-top: 7px;
}
.candidatesTitle{
    text-align-last: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
}
.jobTitleStyle{
    color: gray;
}
.cadiImage{
    width: 87%;
    margin-left: 26px;
}
  