.tabList{
    display: inline-block;
    font-size: 12px;
    background-color: lightgray;
    margin: 0px;
    
}
.jobDescription{
    margin-top: 35px;
    margin-left: 15px;
}
.imgStyle{
    width: 50px;
}
h6{
    margin: 0;
}

.jobInfo{
    display: flex;
}
.loc{
    font-size: 10px;
    right: 50px;
    position: absolute;
}
.jobTypeDefault{
    background-color: turquoise;
    display: inline-block;
    border-color: turquoise;
    border-style: double;
}
.jobTypeINTERN{
    background-color: red;
    display: inline-block;
    border-color: red;
    border-style: double;
}
.jobTypePART{
    background-color: yellow;
    display: inline-block;
    border-color: yellow;
    border-style: double;
}
.jobTypeTEMP{
    background-color: greenyellow;
    display: inline-block;
    border-color: greenyellow;
    border-style: double;
}
@media only screen and (min-width:768px){
    .jobDescription{
    display: flex;
    margin-bottom: 30px;
    }
    .loc{
        font-size: 14px;
        right: unset;
        padding-left: 300px;
    }
    .jobName{
        font-size: 20px;
        margin-left: 10px;
    }
    .tabsContentStyle{
    border: solid;
    display: table;
    margin: 25px;
    border-color: gray;
    border-width: thin;
    }
    .imgStyle{
        height: 50px;
    }
}