.FeatureJobSlider{
    border: solid;
    margin: 10px;
    border-color: gray;
    border-width: thin;
    padding: 20px;
    }
    .imgStyle{
        width: 100%;
    }
    .jobTitleCompanyLogo{
        display: flex;
        margin-left: 2px;
    }
    .companyImgStyle{
        width: 50px;
    }
    .jobDescription{
        margin-top: 20px;
    }
    .featuredJobText{
        margin-left: 10px;
    }
    .applyBtn{
        background-color: blue;
        border: none;
        color: white;
        padding: 15px 32px;
        font-size: 16px;
        margin-left: 10px;
    }
    @media only screen and (min-width:768px){
.jobSliderContent{
    position: absolute;
    width: 34%;
    right: 17%;
    margin-top: 405px;
}
    }